<!DOCTYPE html>
<!-- ライブラリの読み込み -->
<html>
<head>
    <meta charset="UTF-8">
    <title>ランキング</title>
    <link rel="stylesheet" type="text/css" href="https://mail.disnana.com/static/css/typing.css">
</head>
<body>
    <div class="game-container">
        <p><a href="https://mail.disnana.com/typing/tos">>>>利用規約へ<<<</a></p>
        <p><a href="https://mail.disnana.com/typing/rule">>>>ゲーム説明へ<<<</a></p>
        <p><a href="https://mail.disnana.com/typing">>>>ゲームモード選択へ<<<</a></p>
    </div>
</body>
<script src="https://mail.disnana.com/static/js/typing_ranking.js"></script>
</html>
