<!DOCTYPE html>
<!-- ライブラリの読み込み -->
<html>
<head>
    <meta charset="UTF-8">
    <title>タイピングゲーム</title>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:80/static/css/typing.css">
</head>
<body>
    <div class="game-container">
        <h1>タイピングゲーム</h1>
        <p id="word_moto">現在ロード中です・・・</p>
        <p id="word_hira">げんざいろーどちゅうです</p>
        <p id="word_roma">Now Loading..</p>
        <p id="input-status">Now Loading...</p>
        <p id="score-display">スコア: <span id="score">0</span></p>
    </div>
</body>
<script src="http://127.0.0.1:80/static/js/keygraph.js"></script>
<script src="http://127.0.0.1:80/static/js/sound.js"></script>
<script src="http://127.0.0.1:80/static/js/typing.js"></script>
</html>
