body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.game-container {
    margin: 100px auto;
    padding: 100px;
    width: 750px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius:500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 25px;
}

#word_moto {
    font-size: 35px;
    line-height: 20px;
}

#word_hira {
    font-size: 40px;
    line-height: 20px;
}

#word_roma {
    font-size: 35px;
    line-height: 20px;
}

#input-status {
    font-size: 25px;
    line-height: 20px;
}

#score-display {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}

.completed {
    color: green;
}

.in-progress {
    color: orange; /* 入力中の文字色を設定 */
}
