<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ゲーム説明</title>
    <link rel="stylesheet" href="https://mail.disnana.com/static/css/typing_mode.css">
</head>
<body>
    <div class="container">
        <div class="modal">
            <div class="modal-content">
                <h2>ゲーム説明</h2>
                <p>1. モードを選択する</p>
                <p>2. タイピングをする</p>
                <p>3. 結果を見る（ランキング登録はご自由にどうぞ）</p>
                <h2>ルール</h2>
                <p>1. 制限時間は１分です</p>
                <p>2. 60字打つごとに５秒制限時間が増えます</p>
                <p><a href="https://mail.disnana.com/typing/tos">>>>利用規約へ<<<</a></p>
                <p><a href="https://mail.disnana.com/typing">>>>ゲームモード選択へ<<<</a></p>
                <p><a href="https://mail.disnana.com/typing/ranking">>>>ランキングへ<<<</a></p>
            </div>
        </div>
    </div>
</body>
</html>
